<div style="width:100%;background:#fff;padding-bottom:2px;">
  <div id="logo_nav" class="container_12">
    <div id="logo" class="grid_5"></div>
    <ul id="nav" class ="grid_6">
      <li><a href="#finished_products">What we do</a></li>
      <li><a href="#who-we-are">About</a></li>
      <li><a href="#get-in-touch">Contact</a></li>
    </ul>
    <div class="clear"></div>

  </div>
</div>

<div style="width:100%;background:url('/images/stars.png') repeat-x;height:200px;">
<div class="container_12">
  <div id="we-do" class="grid_12">
    <h1><%=image_tag 'do_right.png'%></h1>
    <p>We are a technology consulting company that provides web application development and design services. Our passions are simplicity, agile development and the fostering of good ideas for the betterment of humanity.</p>
  </div>

</div>
</div>


<div id="services" class="container_12">
  <hr />
  <div id="design" class="grid_4">
    <div id="confine">
      <ul>
        <li>
          <h2>Design</h2>
          <p>Niveo specializes in clean impactful designs that demand to be looked at. We focus on creating more than a digital business card.</p>
        </li>
      </ul>
    </div>
  </div>
  <div id="development" class="grid_4"
       <div id="confine">
      <ul>
        <li>
          <h2>Development</h2>
          <p>Do you have the idea and the plan but need the staff to help develop your product? If you have a limited budget or short timeline Niveo can deliver results through its agile development process. Custom software, web applications or mobile applications -- Niveo  can do it all.</p>
        </li>
      </ul>
    </div>
  </div>
  <div id="finished_products"class="grid_4"
       <div id="confine">
      <ul>
        <li>
          <h2>Strategy</h2>
          <p>Are you looking for someone to assess and plan out your custom project? Niveo's strategy services can create a project blueprint to ensure your project meets your objectives and is done on time and on budget.</p>
        </li>
      </ul>
    </div>
  </div>
  <div id="what-weve-done" class="container_12">
    <div id="s3slider" class="grid_12">

      <ul id="s3sliderContent">
        <li class="s3sliderImage">
          <img src="images/01.jpg" />
          <span>Your text comes here</span>
        </li>
        <li class="s3sliderImage">
          <img src="images/02.jpg" />
          <span>Your text comes here</span>
        </li>
        <li class="s3sliderImage">
          <img src="images/03.jpg" />
          <span>Your text comes here</span>
        </li>
        <li class="s3sliderImage">
          <img src="images/04.jpg" />
          <span>Your text comes here</span>
        </li>
        <li class="s3sliderImage">
          <img src="images/05.jpg" />
          <span>Your text comes here</span>
        </li>

        <div class="clear"></div>

      </ul>
    </div>
  </div>
</div>

<div class="clear"></div>
<div id="hr_contain" class="container_12">
  <hr />
</div>
<div class="who_contain">
  <div id="who-we-are" class="container_12">
     <h2>About us</h2>
    <div class="container_12">
      <div id="whoimg" class="grid_4">
        <img src="images/bio_nopic.png" alt="ike barnes"/>
      </div>
      <div class="grid_8">
        <h3>Ike Barnes</h3>
        <h4>Founder and CEO</h4>
        <p>Chad Pytel has ten years of experience in tech support and software services, and is a skilled programmer and project manager. Chad is responsible for the day-to-day operations of thoughtbot &mdash; and also acts in an ongoing business consulting and project management role for our clients. He released a book, published by Apress, titled <a href="http://www.amazon.com/Pro-ActiveRecord-Ruby-Databases-Rails/dp/1590598474?ie=UTF8&s=books&qid=1187352800&sr=8-1">Pro ActiveRecord for Ruby: Databases with Ruby and Rails</a>. Chad graduated from Worcester Polytechnic Institute (WPI) with bachelor of science degrees in both Computer Science and Humanities &amp; Arts (Drama/Theatre).</p>
      </div>
      <div class="clear"></div>
    </div>
    
    <div class="container_12">
      <div id="whoimg" class="grid_4">
        <img src="images/bio_nopic.png" alt="megan barnes"/>
      </div>
      <div class="grid_8">
        <h3>Meagan Rollins</h3>
        <h4>Business Operations</h4>
        <p>Chad Pytel has ten years of experience in tech support and software services, and is a skilled programmer and project manager. Chad is responsible for the day-to-day operations of thoughtbot &mdash; and also acts in an ongoing business consulting and project management role for our clients. He released a book, published by Apress, titled <a href="http://www.amazon.com/Pro-ActiveRecord-Ruby-Databases-Rails/dp/1590598474?ie=UTF8&s=books&qid=1187352800&sr=8-1">Pro ActiveRecord for Ruby: Databases with Ruby and Rails</a>. Chad graduated from Worcester Polytechnic Institute (WPI) with bachelor of science degrees in both Computer Science and Humanities &amp; Arts (Drama/Theatre).</p>
      </div>
      <div class="clear"></div>
    </div>

    <div class="container_12">
      <div id="whoimg" class="grid_4">
        <img src="images/bio_nopic.png" alt="megan barnes"/>
      </div>
      <div class="grid_8">
        <h3>Jose Risi</h3>
        <h4>CIO</h4>
        <p>Chad Pytel has ten years of experience in tech support and software services, and is a skilled programmer and project manager. Chad is responsible for the day-to-day operations of thoughtbot &mdash; and also acts in an ongoing business consulting and project management role for our clients. He released a book, published by Apress, titled <a href="http://www.amazon.com/Pro-ActiveRecord-Ruby-Databases-Rails/dp/1590598474?ie=UTF8&s=books&qid=1187352800&sr=8-1">Pro ActiveRecord for Ruby: Databases with Ruby and Rails</a>. Chad graduated from Worcester Polytechnic Institute (WPI) with bachelor of science degrees in both Computer Science and Humanities &amp; Arts (Drama/Theatre).</p>
      </div>
      <div class="clear"></div>
    </div>

    <div class="container_12">
      <div id="whoimg" class="grid_4">
        <img src="images/bio_nopic.png" alt="megan barnes"/>
      </div>
      <div class="grid_8">
        <h3>Darren Holland</h3>
        <h4>Software Developer</h4>
        <p>Chad Pytel has ten years of experience in tech support and software services, and is a skilled programmer and project manager. Chad is responsible for the day-to-day operations of thoughtbot &mdash; and also acts in an ongoing business consulting and project management role for our clients. He released a book, published by Apress, titled <a href="http://www.amazon.com/Pro-ActiveRecord-Ruby-Databases-Rails/dp/1590598474?ie=UTF8&s=books&qid=1187352800&sr=8-1">Pro ActiveRecord for Ruby: Databases with Ruby and Rails</a>. Chad graduated from Worcester Polytechnic Institute (WPI) with bachelor of science degrees in both Computer Science and Humanities &amp; Arts (Drama/Theatre).</p>
      </div>
      <div class="clear"></div>
    </div>
    

    <div class="clear"></div>

  </div>
</div>
<div class="git_contain">
  <div id="contact_contain"class="container_12">
    <div id ="get-in-touch" class="grid_6">
      <h2>Contact Us</h2>
      <%= render :partial => 'form' %>
    </div>

    <div id="praise" class="grid_6">
      <blockquote>
        <p>
          &quot;Thoughtbot is the best in the industry as far as ruby on
          rails programming/developers. We're very pleased with the
          product they created for us and would recommend them to anyone
          looking to build a web application in ruby.	&quot;

        </p>
      </blockquote>

      <p class="praise">&mdash;Julia Noran, Founder/Managing Partner at JSN Global Media, LLC</p>

      <blockquote>
        <p>
          &quot;Thoughtbot is the best in the industry as far as ruby on
          rails programming/developers. We're very pleased with the
          product they created for us and would recommend them to anyone
          looking to build a web application in ruby.	&quot;

        </p>
      </blockquote>

      <p class="praise">&mdash;Julia Noran, Founder/Managing Partner at JSN Global Media, LLC</p>

      <blockquote>
        <p>
          &quot;Thoughtbot is the best in the industry as far as ruby on
          rails programming/developers. We're very pleased with the
          product they created for us and would recommend them to anyone
          looking to build a web application in ruby.	&quot;

        </p>
      </blockquote>

      <p class="praise">&mdash;Julia Noran, Founder/Managing Partner at JSN Global Media, LLC</p>

    </div>
    <div class="clear"></div>
  </div>

  <div id="legal" class="container_12">
    <p>&copy; 2009 - 2010 Niveo Solutions. All Rights Reserved.</p>

  </div>
  <div class="clear"></div>

</div>

